body {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    justify-content: center;
}

.box {
    display: flex;
    height: 500px;
    border: 1px solid #B0C4DE;
    flex-direction: column;
}

.minibox {
    display: flex;
    height: 100px;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.custom-select {
    margin-top: 24px;
    width: 100px;
}

.group, .group_2 {
    display: none;
}

.form-group3 {
    float: center;
    width: 90%;
    padding-left: 10%;
    padding-top: 0%;
}

.form-group4 {
    float: center;
    width: 90%;
    padding-left: 10%;
    padding-top: 2%;
}

.custom-checkbox {
    align-content: flex-end;
}

.minibox3 {
    float: right;
    padding-right: 50px;
    padding-top: 20px;
}

.minibox2 {
    display: flex;
    justify-content: right;
    margin-top: 50px;
    padding-right: 10px;
}

.k1 {
    margin-bottom: 50px;
    width: 100px;
    margin-right: 25px;
}

.k2 {
    margin-bottom: 50px;
    width: 100px;
    margin-left: 25px;
}

.minibox4 {
    display: flex;
    justify-content: right;
    margin-top: 50px;
    padding-right: 10px;
}

.k3 {
    margin-bottom: 50px;
    width: 150px;
    margin-left: 140px;
}

.minibox6 {
    display: flex;
    justify-content: right;
    margin-top: 30px;
    padding-right: 10px;
}

.k4 {
    margin-top: 0px;
    margin-bottom: 50px;
    width: 150px;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
}

#ho .elem:nth-child(1) .minibox6 {
    display: none;
}
/*скрываю кнопку "Удалить форму" с первой формы*/

